.parent {
    border: solid black;
    height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.box {
    min-width: 150px;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
}